# ==================================================
# Java / Gradle
# ==================================================
.gradle/
build/
out/
bin/
*.class
*.log
*.jar

# ==================================================
# IDE
# ==================================================
.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/
.springBeans
.sts4-cache/
.factorypath
.apt_generated

# ==================================================
# OS
# ==================================================
.DS_Store
Thumbs.db

# ==================================================
# Spring Boot
# ==================================================
application-local.properties
application-dev.properties
application-prod.properties

# ==================================================
# Docker / Kafka
# ==================================================
.env
docker-data/
kafka-data/
zookeeper-data/

# ==================================================
# Logs
# ==================================================
logs/
